body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgba(201, 205, 209, 0.815);
}
.darkNav{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.815);
}
nav > a{
  color: #000;
  text-decoration: none;
  margin: 0 15px;
  padding: 15px;
  cursor: pointer;
}
a:hover{
  opacity: 70%;
}
button{
  background-color: rgba(0, 0, 0, 0.89);
  color: #c2c2c2;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  height: 50px;
  margin: 15px;
  padding: 15px;
  width: auto;
  font-size: 16px;
}
button:hover{
  opacity: 70%;
}
h1{
  text-align: center;
  padding: 25px;
  margin: 0;
}
h2, p{
  text-align: center;
  margin: 12px;
}
p, h4, h3{
  font-size: 20px;
}
.card-grid{
  display: flex;
  justify-content:center;
  gap: 1rem;
  height: auto;
  flex-wrap: wrap;
  margin: auto 15rem;
  padding: 20px;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 40px;
  margin-top: 0;
  background-color: rgba(175, 175, 175, 0.815);
}
.darkFooter{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 40px;
  margin-top: 0;
  background-color: rgba(51, 51, 51, 0.815);
}
footer > img{
  margin-right: 20px;
}
footer > p{
  margin: 0;
  padding-top: 0.3rem;
}
.dark{
  background-color: #252525e1;
  color: rgb(204, 203, 203);
}
.dark > a {
  color: rgb(190, 190, 190);
}
.darkButton{
  background-color: #aaaaaa;
  color: #000;
}